@using Ocelot.Service
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/select2.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <style>
        .datepicker {
            background-color: #ffffff;
            color: grey;
        }
    </style>
}
@section Scripts{
    <script src="~/Content/jquery-ui.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Content/js/plugins/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/plugins/icheck/icheck.min.js"></script>
    <script src="~/Content/js/plugins/inputmask/jquery.inputmask.bundle.min.js"></script>

    <script src="~/Content/select2.js"></script>
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script>
        $('#EndDate').datepicker({
            setDate: new Date(),
            format: 'dd-MM-yyyy',
            autoclose: true
        }).datepicker("setDate", 'now');
        $('#StartDate').datepicker({
            setDate: new Date(),
            format: 'dd-MM-yyyy',
            autoclose: true
        }).datepicker("setDate", 'now');
        var stockTransferedOutArr = []; populateVehicleDropDown(); populatePage();
        $('.select2').select2();
        function populatePage() {
            populateStockTransferedOut();
            populateContainerStockLevel();
        }
        function getStockTransferedOut() {
            var StartDate = $('#StartDate').val();
            var EndDate = $('#EndDate').val();
            $.ajax({
                url: '/StockTransferOut/GetShopStock?FromDate=' + StartDate + '&ToDate=' + EndDate + '',
                type: 'GET',
                async: false,
                success: function (res) {
                    stockTransferedOutArr = res;
                }
            });
            return stockTransferedOutArr;
        }
        function populateStockTransferedOut() {
            $('#stockTransferedOutTable').DataTable({
                data: getStockTransferedOut(),
                "autoWidth": false,
                "order": false,
                destroy: true,
                columns: [
                    { title: "Shop Name", data: "ShopName" },
                    { title: "Vehicle Registration", data: "VehicleReg" },
                    { title: "Transferred 6KG", data: "Transferred6KG" },
                    { title: "Transferred 13KG", data: "Transferred13KG" },
                    { title: "Transferred 50KG", data: "Transferred50KG" },
                    { title: "Transferred Stock Grill", data: "TransferredStockGrill" },
                    { title: "Transferred Stock Burner", data: "TransferredStockBurner" },
                    { title: "Date Transferred", data: "TransferredAt" },
                    { title: "Transfered By", data: "TransferredBy" }

                ]

            });
        }
        $('#transferOut').on('click', function () {
            $('#transferOutModal').modal('show');
        });
        $('#submitTransferOut').on('click', function () {
            $('#submitTransferOut').attr("disabled", true);
            if (validatingUsingClass("transferOutForm") === 0) {
                var postObj = {
                    "VehicleID": $("#vehicleDropDown option:selected").val(),
                    "Transferred6KG": $('#transferred6KG').val(),
                    "Transferred13KG": $('#transferred13KG').val(),
                    "Transferred50KG": $('#transferred50KG').val(),
                    "TransferredStockBurner": $('#TransferredStockBurner').val(),
                    "TransferredStockGrill": $('#TransferredStockGrill').val()
                };
                var url = "/StockTransferOut/TransferStockOut";
                customPost("Proceed to add stock", url, postObj, "transferOutModal",
                    "transferOutForm", "TRANSFER STOCK", populatePage);
            }
            $('#submitTransferOut').attr("disabled", false);
        });
        var vehiclesArr = [];
        function getVehicles() {
            $.ajax({
                url: '/Vehicle/GetVehicleList',
                type: 'GET',
                async: false,
                success: function (res) {
                    vehiclesArr = res;
                }
            });
            return vehiclesArr;
        }
        function populateVehicleDropDown() {
            var vehicelDropdownArr = [];
            vehicelDropdownArr.push('<option value="">SELECT A VEHICLE</option>');
            getVehicles().forEach(function (elem) {
                vehicelDropdownArr.push('<option value=' + elem.ID + '>' + elem.VehicleRegistration + '</option>');
            });
            $('#vehicleDropDown').html(vehicelDropdownArr);
        }
        var containerStockLevel = [];
        function GetContainerStockLevel() {

            $.ajax({
                url: '/StockTransferOut/GetContainerStockLevel',
                type: 'GET',
                async: false,
                success: function (res) {
                    containerStockLevel = res;
                }
            })
            return containerStockLevel;
        }
        function populateContainerStockLevel() {
            $('#stockLevelTable').DataTable({
                destroy: true,
                autoWidth: false,
                data: GetContainerStockLevel(),
                columns: [
                    { title: "Shop Name", data: "ShopName" },
                    { title: "Stock 6KG", data: "Stock6KG" },
                    { title: "Stock 13KG", data: "Stock13KG" },
                    { title: "Stock 50KG", data: "Stock50KG" },
                    { title: "Stock Burner", data: "StockBurner" },
                    { title: "Stock Grill", data: "StockGrill" }
                ]
            });
        }
        populateContainerStockLevel2();
        function populateContainerStockLevel2() {
            $('#stockLevelTable2').DataTable({
                destroy: true,
                autoWidth: false,
                data: GetContainerStockLevel(),
                columns: [
                    {
                        title: "Actions", data: null, render: function (data, type) {
                            if (type === 'display') {
                                return '<center><div class="dropdown">'
                                    + '<a  style="width:80%;" class="fa fa-list btn btn-Ocelot dropdown-toggle" data-toggle="dropdown" ">'
                                    + '<span class="caret"></span></a>'
                                    + '<ul class="dropdown-menu">'
                                    + '<li><a onclick="Recon(\'' + data.ID + '\')">Reconcile</a></li>'
                                    + '</ul>'
                                    + '</div></center>';
                            }
                            return data;
                        },
                        className: "dt-body-center"
                    },
                    { title: "Shop Name", data: "ShopName" },
                    { title: "Stock 6KG", data: "Stock6KG" },
                    { title: "Stock 13KG", data: "Stock13KG" },
                    { title: "Stock 50KG", data: "Stock50KG" },
                    { title: "Stock Burner", data: "StockBurner" },
                    { title: "Stock Grill", data: "StockGrill" }
                ]
            });
        }
        $('#filterByDate').on('click', function () {
            populateStockTransferedOut();
        });
        function Recon(id) {
            jQuery.grep(containerStockLevel, function (n) {
                if (n.id === id) {
                    $('#ShopID').val(n.ShopID);
                    $('#ShopName').val(n.ShopName);
                    $('#Stock6KG').val(n.Stock6KG);
                    $('#Stock13KG').val(n.Stock13KG);
                    $('#Stock50KG').val(n.Stock50KG);
                    $('#StockBurner').val(n.StockBurner);
                    $('#StockGrill').val(n.StockGrill);
                }
            });
            $('#containerReconModal').modal('show');
        }
        $('#submitContainerRecon').on('click', function () {
            var url = '/StockTransferOut/ReconcileContainerVariance';
            var postObj = {
                "ShopID": $('#ShopID').val(),
                "Stock6KG": $('#Stock6KG').val(),
                "Stock13KG": $('#Stock13KG').val(),
                "Stock50KG": $('#Stock50KG').val(),
                "StockBurner": $('#StockBurner').val(),
                "StockGrill": $('#StockGrill').val()

            };
            customPost("Proceed to reconcile", url, postObj, 'containerReconModal', 'reconForm',
                "CONTAINER RECON", populateContainerStockLevel2);
        });

    </script>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        LOADING
        <small style="color:white"> loads, shows tranfered stock history</small>
    </h1>
</section>

<!-- main section-->
<section class="content">

    <div id="containerReconModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">RECONCILE</h4>
                </div>
                <div class="modal-body">
                    <form id="reconForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>SHOP NAME:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="ShopName" class="form-control validate-required" readonly />
                                                <input type="hidden" id="ShopID" class="form-control validate-required" readonly />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>STOCK 6KG:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="Stock6KG" value="0" onkeyup="validateNumber(this.id)" class="form-control validate-required" />
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>STOCK 13KG:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="Stock13KG" value="0" onkeyup="validateNumber(this.id)" class="form-control validate-required" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>STOCK 50KG:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="Stock50KG" value="0" onkeyup="validateNumber(this.id)" class="form-control validate-required" />
                                            </div>

                                        </div>
                                    </div>
                                </div><br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>
                                                    STOCK
                                                    BURNER:
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="StockBurner" value="0" onkeyup="validateNumber(this.id)" class="form-control validate-required" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>STOCK GRILL:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="StockGrill" value="0" onkeyup="validateNumber(this.id)" class="form-control validate-required" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a id="submitContainerRecon" class="btn btn-Ocelot">SUBMIT</a>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <span>SHOP STOCK LEVEL</span>
                </div>
                <div class="box-body">
                    @if (RoleChecker.HasRole("SuperAdministrator"))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <table id="stockLevelTable2" class="table table-bordered"></table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <table id="stockLevelTable" class="table table-bordered"></table>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">
                        <div class="col-md-8">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="email">FROM:</label>
                                    <input type="text" autocomplete="off" class="form-control" id="StartDate">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">TO:</label>
                                    <input type="text" autocomplete="off" class="form-control" id="EndDate">
                                </div>
                                <div class="form-group">
                                    <button type="button" id="filterByDate" class="btn btn-Ocelot">FILTER</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <div class="pull-right">
                                <a id="transferOut" class="btn btn-Ocelot">LOADING</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table id="stockTransferedOutTable" class="table table-bordered table-responsive"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- transfer out modal -->
    <div id="transferOutModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">LOADING</h4>
                </div>
                <div class="modal-body">
                    <form id="transferOutForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>VEHICLE TO:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <select id="vehicleDropDown" class="select2 form-control validate-required" style="width:100%;"></select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>TRANSFERRED 6KG:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="transferred6KG" value="0" onkeyup="validateNumber(this.id)" class="form-control validate-required" />
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>TRANSFERRED 13KG:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="transferred13KG" value="0" onkeyup="validateNumber(this.id)" class="form-control validate-required" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>TRANSFERRED 50KG:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="transferred50KG" value="0" onkeyup="validateNumber(this.id)" class="form-control validate-required" />
                                            </div>

                                        </div>
                                    </div>
                                </div><br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>
                                                    TRANSFERRED
                                                    BURNER:
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="TransferredStockBurner" value="0" onkeyup="validateNumber(this.id)" class="form-control validate-required" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>TRANSFERRED GRILL:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="TransferredStockGrill" value="0" onkeyup="validateNumber(this.id)" class="form-control validate-required" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a id="submitTransferOut" class="btn btn-Ocelot">SUBMIT</a>
                </div>
            </div>

        </div>
    </div>
</section>
