
@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="login-box">
    <div class="box-body"style="color:black;background-color:white">
        <div class="row">
            <div class="col-md-12">
                <p> ACCESS DENIED</p><br />
                <p>CONTACT YOUR SYSTEM ADMINISTRATOR</p>
            </div>
        </div>
    </div>
 </div>